[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
flask-security = "*"
flask-migrate = "*"
flask-env = "*"
python-dotenv = "*"
pytz = "*"
email-validator = "*"
flask-jwt-extended = "*"
celery = "*"
pytelegrambotapi = "*"
redis = "*"
flower = "*"
importlib-metadata = "*"
psycopg2-binary = "*"
jinja2 = "*"
sqlalchemy-imageattach = "*"
pillow = "*"
flask-uploads = "==0.2.0"
sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-apispec = "*"
flask-wtf = "*"
flask-socketio = "*"
flask-cors = "*"
flask-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
