* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.position {
	width: 100%;
	height: 100%;
	position: relative;
}

#logo {
	width: 54px;
	height: 45px;
	margin-bottom: 14px;
}

.menu {
	position: fixed;
	width: 21%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #1E90FF;
	border-radius: 0px 10px 10px 0px;
	text-align: center;
	padding-left: 37px;
	box-sizing: border-box;
	padding-top: 10px;
	overflow: hidden;
}

.menu.active {
	width: 21px;
}

.menu__item a {
	display: flex;
	gap: 15px;
	color: white;
}


.menu__item img {
	width: 20px;
	height: 20px;
	margin-bottom: 20px;
}

.menu__item a:hover {
	text-decoration: underline;
}

.menu__item h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}


.menu____content__block__first {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}

.menu____content__block__second {
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.menu____content__block__second__voting {
	display: flex;
	align-items: center;
	gap: 7px;
	height: auto;
	width: 135px;
	cursor: pointer;
	margin-bottom: 30px;
	box-sizing: border-box;
}

.menu____content__block__second__voting h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: white;

}

#menu____content__block__second__voting {
	width: 12px;
	height: 12px;
	transform: rotate(-90deg);
	transition: 0.3s;
}

#menu____content__block__second__voting.active {
	transform: rotate(0deg);
	transition: 0.3s;
}

.menu____content__block__second__open {
	width: 100%;
	position: absolute;
	top: -100%;
	transition: 0.3s;
}

.menu____content__block__second__open.active {
	top: 50px;
	transition: 0.3s;
}

.menu__setting a {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 37px;
	display: flex;
	border-top: solid 2px white;
	width: 100%;
	height: 60px;
	align-items: center;
	gap: 12px;
}

.menu__setting img {
	width: 20px;
	height: 20px;
}

.menu__setting h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: white;
}

.applications__filter{
	width: 100%;
	height: 30px;
	border-top: solid 2px #8A8A8A;
	border-bottom: solid 2px #8A8A8A;
	margin-top: 25px;
	display: flex;
	align-items: center;
	gap: 20px;	
	padding-left: 24px;
	box-sizing: border-box;
}

.applications__filter__item{
	display: flex;
	height: 100%;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.applications__filter__item h5{
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #8A8A8A;
}

.applications__filter__item img{
	width: 18px;
	height: 18px;
}

.applications__content {
	width: 79%;
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	padding-top: 20px;
}

.applications__content__top {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 24px 0 24px;
	box-sizing: border-box;
}

.applications__content__top img {
	width: 45px;
	height: 45px;
}

.applications__content__top__left {
	display: flex;
	align-items: center;
	gap: 7px;
}

.applications__content__top__left h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #1E90FF;
}

.applications__content__top__right {
	display: flex;
	align-items: center;
	gap: 24px;
}

.applications__content__top__right__notifications {
	position: relative;
	height: 100%;
}

.applications__content__top__right__notifications__item {
	position: absolute;
	top: 50px;
	right: 0;
	width: 270px;
	height: auto;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1;
	padding-left: 7px;
	box-sizing: border-box;
	transform: scale(0);
	transition: 0.3s;
	padding-bottom: 15px;
}

.applications__content__top__right__notifications__item.active {
	transform: scale(1);
	transition: 0.3s;
}

#applications__content__top__right__notifications {
	cursor: pointer;
}

.applications__content__top__right__notifications__item h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 11px;
}

.applications__content__top__right__notifications__item button {
	width: auto;
	height: auto;
	padding: 7px 15px;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: white;
	border: none;
	border-radius: 10px;
	margin-bottom: 8px;
}

.applications__content__top__right__notifications__item button:last-child {
	margin-bottom: 0;
}

.applications__content__top__right__profile__item img{
	width: 16px;
	height: 16px;
}

.notifications__item__button-blue {
	background: #1E90FF;
}

.notifications__item__button-yellow {
	background: rgba(255, 184, 0, 0.63);
}

.notifications__item__button-red {
	background: #FF0000;
}

.applications__content__top__right__profile {
	position: relative;
	height: 100%;
}

#applications__content__top__right__profile {
	cursor: pointer;
}

.applications__content__top__right__profile__item {
	position: absolute;
	top: 60px;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	width: auto;
	height: auto;
	padding: 9px 20px;
	border: none;
	cursor: pointer;
	z-index: 1;
	transform: scale(0);
	transition: 0.3s;
	display: flex;
	gap: 7px;
}

.applications__content__top__right__profile__item.active {
	transform: scale(1);
	transition: 0.3s;
}

.applications__content__item {
	width: 100%;
	box-sizing: border-box;
}

.applications__content__button__view {
	display: flex;
	gap: 30px;
	margin-top: 15px;
	width: 100%;
	padding-left: 24px;
	box-sizing: border-box;
}

.applications__content__button__view__button {
	border: none;
	background-color: white;
	width: auto;
	height: auto;
	cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #8A8A8A;
}

#applications__content__button__view__button__list.active {
	color: black;
}

.applications__content__item__applications {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: none;
	padding-left: 24px;
	padding-right: 24px;
}

.applications__content__item__applications.active {
	display: block;
}

.applications__content__item__applications button {
	width: auto;
	height: auto;
	border: none;
	background-color: white;
	cursor: pointer;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 12px;
}

.item__applications__for__execution {
	margin-top: 32px;
}

#item__applications__for__execution {
	display: flex;
	align-items: center;
	height: auto;
	gap: 5px;
}

#item__applications__for__execution__img {
	width: 15px;
	height: 15px;
	transform: rotate(-90deg);
	transition: 0.3s;
}

#item__applications__for__execution__img.active {
	transform: rotate(0);
	transition: 0.3s;
}

.item__applications__for__execution__open {
	display: none;

}

.item__applications__for__execution__open.active {
	display: block;
}

.item__applications__for__execution__item {
	width: 100%;
	height: auto;
}

.item__applications__for__execution__item__applications {
	width: 100%;
	height: 45px;
	border-bottom: solid 1px #8A8A8A;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item__applications__for__execution__item__applications h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: black;
}

.item__applications__for__execution__item__applications__txt {}

.item__applications__for__execution__item__applications__name {
	display: flex;
	align-items: center;
	gap: 7px;
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	overflow: hidden;
	padding: 0 8px;
	height: 100%;
}

.item__applications__for__execution__item__applications__name h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

.item__applications__for__execution__item__applications__name__icon {
	background-color: #00CC00;
	padding: 10px 8px;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	box-sizing: border-box;
}

.item__applications__for__execution__item__applications__date {
	padding: 0 8px;
}

.item__applications__for__execution__item__applications__date h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	color: #00CC00;
}

.item__applications__for__execution__item__applications__status {
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 8px;
}

.item__applications__for__execution__item__applications__status h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	width: auto;
	height: auto;
	background: rgba(255, 0, 0, 0.63);
	border-radius: 10px;
	padding: 5px 10px;
}

.item__applications__for__execution__left {
	display: flex;
	align-items: center;
	height: 100%;
}



.item__applications__in__work {
	margin-top: 32px;
}

#item__applications__in__work {
	display: flex;
	align-items: center;
	height: auto;
	gap: 5px;
}

#item__applications__in__work__img {
	width: 15px;
	height: 15px;
	transform: rotate(-90deg);
	transition: 0.3s;
}

#item__applications__in__work__img.active {
	transform: rotate(0);
	transition: 0.3s;
}

.item__applications__in__work__open {
	display: none;
}

.item__applications__in__work__open.active {
	display: block;
}

.item__applications__in__work__item {
	width: 100%;
	height: auto;
}

.item__applications__in__work__item__applications {
	width: 100%;
	height: 45px;
	border-bottom: solid 1px #8A8A8A;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item__applications__in__work__item__applications h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: black;
}

.item__applications__in__work__item__applications__txt {}

.item__applications__in__work__item__applications__name {
	display: flex;
	align-items: center;
	gap: 7px;
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	overflow: hidden;
	padding: 0 8px;
	height: 100%;
}

.item__applications__in__work__item__applications__name h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

.item__applications__in__work__item__applications__name__icon {
	background-color: #00CC00;
	padding: 10px 8px;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	box-sizing: border-box;
}

.item__applications__in__work__item__applications__date {
	padding: 0 8px;
}

.item__applications__in__work__item__applications__date h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	color: #00CC00;
}

.item__applications__in__work__item__applications__status {
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 8px;
}

.item__applications__in__work__item__applications__status h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	width: auto;
	height: auto;
	background: rgba(255, 0, 0, 0.63);
	border-radius: 10px;
	padding: 5px 10px;
}

.item__applications__in__work__left {
	display: flex;
	align-items: center;
	height: 100%;
}



.item__applications__completed {
	margin-top: 32px;
}

#item__applications__completed {
	display: flex;
	align-items: center;
	height: auto;
	gap: 5px;
}

#item__applications__completed__img {
	width: 15px;
	height: 15px;
	transform: rotate(-90deg);
	transition: 0.3s;
}

#item__applications__completed__img.active {
	transform: rotate(0);
	transition: 0.3s;
}

.item__applications__completed__open {
	display: none;
}

.item__applications__completed__open.active {
	display: block;
}

.item__applications__completed__item {
	width: 100%;
	height: auto;
}

.item__applications__completed__item__applications {
	width: 100%;
	height: 45px;
	border-bottom: solid 1px #8A8A8A;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item__applications__completed__item__applications h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: black;
}

.item__applications__completed__item__applications__txt {}

.item__applications__completed__item__applications__name {
	display: flex;
	align-items: center;
	gap: 7px;
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	overflow: hidden;
	padding: 0 8px;
	height: 100%;
}

.item__applications__completed__item__applications__name h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

.item__applications__completed__item__applications__name__icon {
	background-color: #00CC00;
	padding: 10px 8px;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	box-sizing: border-box;
}

.item__applications__completed__item__applications__date {
	padding: 0 8px;
}

.item__applications__completed__item__applications__date h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	color: #00CC00;
}

.item__applications__completed__item__applications__status {
	border-left: solid 2px #8A8A8A;
	border-right: solid 2px #8A8A8A;
	height: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 8px;
}

.item__applications__completed__item__applications__status h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	width: auto;
	height: auto;
	background: rgba(255, 0, 0, 0.63);
	border-radius: 10px;
	padding: 5px 10px;
}

.item__applications__completed__left {
	display: flex;
	align-items: center;
	height: 100%;
}

.applications__content__item__applications__board {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	display: none;

}

.applications__content__item__applications__board__content h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 13px;
}

.applications__content__item__applications__board.active {
	display: block;
}

#top__right__notifications {
    width: 42px;
    height: 42px;
}

#applications__content__button__view__button__board.active {
	color: black;
}

.applications__content__item__applications__board__content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 32px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
}

.item__applications__board__item__application {
	width: 320px;
	max-height: 700px;
	box-sizing: border-box;
	overflow: auto;
}


.item__applications__board__item__application__item {
	width: 300px;
	height: 130px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 7px 10px;
	margin-bottom: 10px;
}

.item__applications__board__item__application__item h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 23px;
}

.item__applications__board__item__application__item button {
	width: auto;
	height: auto;
	padding: 5px 10px;
	background: rgba(255, 0, 0, 0.63);
	border: none;
	border-radius: 12px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 12px;
}

.item__applications__board__item__application__item span {
	background-color: #00CC00;
	padding: 10px 10px;
	border-radius: 50%;
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	box-sizing: border-box;
}

.item__applications__board__item__application__item__date {
	display: flex;
	height: 30px;
	align-items: center;
	gap: 8px;
	justify-content: space-between;
}

.item__applications__board__item__application__item__date__left h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 0;
	color: #00CC00;
}

.item__applications__board__item__application__item__date__left {
	display: flex;
	align-items: center;
	gap: 8px;
}

.item__applications__board__item__application__item__date__right {
	display: flex;
	height: 30px;
	align-items: center;
	gap: 8px;
}

.item__applications__board__item__application__item__date__right h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 0;
}

.item__applications__board__item__application__item__date__right span {
	width: auto;
	height: auto;
	border-radius: 50%;
	background-color: #33CCCC;
	padding: 8px 3px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: white;
}

.item__applications__board__item__application__item__date__right h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 0;
}

.item__applications__board__item__application__item__date__right img {
	width: 24px;
	height: 24px;
}



.modal__for__execution {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__for__execution.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__for__execution__item {
	width: 500px;
	height: 620px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__for__execution__item p {
	margin-top: 14px;
}

.modal__for__execution__item h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__for__execution__item h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__for__execution__item__name {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__for__execution__item__name span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__for__execution__item__name h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__for__execution__item__name__date {
	color: #1E90FF;
}

.modal__for__execution__item button {
	width: 180px;
	height: 50px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: white;
	border: none;
	margin-right: 50px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #1E90FF;
	transition: 0.1s;
}

.modal__for__execution__item button:hover{
	background-color: #1E90FF;
	color: white;
	transition: 0.1s;
}

.modal__for__execution__item button:last-child {
	margin-right: 0;
}

.modal__in__work {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__in__work.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__in__work__item {
	width: 500px;
	height: 720px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__in__work__item p {
	margin-top: 14px;
}

.modal__in__work__item h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__in__work__item h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__in__work__item__name {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__in__work__item__name span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__in__work__item__name h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__in__work__item__name__date {
	color: #1E90FF;
}

.modal__in__work__item select {
	width: 421px;
	height: 50px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	outline: none;
}

.modal__in__work__item button {
	width: auto;
	height: auto;
	background: #00CC00;
	border-radius: 20px;
	padding: 19px 17px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: white;
	border: none;
	margin-left: 80px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 20px;
}

.modal__completed {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__completed.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__completed__item {
	width: 500px;
	height: 850px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__completed__item p {
	margin-top: 14px;
}

.modal__completed__item h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__completed__item h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__completed__item__name {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__completed__item__name span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__completed__item__name h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__completed__item__name__date {
	color: #1E90FF;
}

.modal__completed__item select {
	width: 421px;
	height: 50px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	outline: none;
}

.modal__completed__item button {
	width: auto;
	height: auto;
	background: #00CC00;
	border-radius: 20px;
	padding: 19px 17px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: white;
	border: none;
	margin-left: 80px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 20px;
}

.modal__completed__item__select {
	width: 419px;
	background: #5AACF7;
	border-radius: 20px;
	padding: 10px 14px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	box-sizing: border-box;
}

.modal__completed__item__reviews {
	width: 420px;
	height: 183px;
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	padding: 15px 20px 0 20px;
}

.modal__completed__item__reviews__name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.modal__completed__item__reviews__name__item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.modal__completed__item__reviews__name span {
	border-radius: 50%;
	width: auto;
	height: auto;
	background-color: #1E90FF;
	padding: 8px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border: solid 2px black;
}

.modal__completed__item__reviews__name img {
	width: 24px;
	height: 24px;
}

.modal__for__execution__board {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__for__execution__board.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__for__execution__item__board {
	width: 500px;
	height: 620px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__for__execution__item__board p {
	margin-top: 14px;
}

.modal__for__execution__item__board h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__for__execution__item__board h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__for__execution__item__name__board {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__for__execution__item__name__board span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__for__execution__item__name__board h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__for__execution__item__name__date__board {
	color: #1E90FF;
}

.modal__for__execution__item__board button {
	width: 180px;
	height: 50px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: white;
	border: none;
	margin-right: 50px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #1E90FF;
	transition: 0.1s;
}


.modal__for__execution__item__board button:hover{
	background-color: #1E90FF;
	color: white;
	transition: 0.1s;
} 

.modal__for__execution__item__board button:last-child {
	margin-right: 0;
}

.modal__in__work__board  {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__in__work__board.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__in__work__item__board  {
	width: 500px;
	height: 720px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__in__work__item__board  p {
	margin-top: 14px;
}

.modal__in__work__item__board  h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__in__work__item__board  h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__in__work__item__name__board  {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__in__work__item__name__board  span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__in__work__item__name__board  h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__in__work__item__name__date__board  {
	color: #1E90FF;
}

.modal__in__work__item__board  select {
	width: 421px;
	height: 50px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	outline: none;
}

.modal__in__work__item__board  button {
	width: auto;
	height: auto;
	background: #00CC00;
	border-radius: 20px;
	padding: 19px 17px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: white;
	border: none;
	margin-left: 80px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 20px;
}


.modal__completed__board  {
	transform: scale(0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.modal__completed__board.active {
	transform: scale(1);
	transition: 0.3s;
}

.modal__completed__item__board  {
	width: 500px;
	height: 850px;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 28px 0 0 42px;
	box-sizing: border-box;
}

.modal__completed__item__board  p {
	margin-top: 14px;
}

.modal__completed__item__board  h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

.modal__completed__item__board  h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

.modal__completed__item__name__board  {
	display: flex;
	align-items: center;
	gap: 11px;
}

.modal__completed__item__name__board  span {
	border-radius: 50%;
	background: #00CC00;
	width: auto;
	height: auto;
	padding: 8px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	color: white;
	box-sizing: border-box;
}

.modal__completed__item__name__board  h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}

#modal__completed__item__name__date {
	color: #1E90FF;
}

.modal__completed__item__board  select {
	width: 421px;
	height: 50px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	outline: none;
}

.modal__completed__item__board  button {
	width: auto;
	height: auto;
	background: #00CC00;
	border-radius: 20px;
	padding: 19px 17px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: white;
	border: none;
	margin-left: 80px;
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 20px;
}

.modal__completed__item__select__board  {
	width: 419px;
	background: #5AACF7;
	border-radius: 20px;
	padding: 10px 14px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	box-sizing: border-box;
}

.modal__completed__item__reviews__board  {
	width: 420px;
	height: 183px;
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	padding: 15px 20px 0 20px;
}

.modal__completed__item__reviews__name__board  {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.modal__completed__item__reviews__name__item__board  {
	display: flex;
	align-items: center;
	gap: 8px;
}

.modal__completed__item__reviews__name__board  span {
	border-radius: 50%;
	width: auto;
	height: auto;
	background-color: #1E90FF;
	padding: 8px;
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	border: solid 2px black;
}

.modal__completed__item__reviews__name__board  img {
	width: 24px;
	height: 24px;
}
