* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.position {
	width: 100%;
	height: 100%;
	position: relative;
}


#logo {
	width: 54px;
	height: 45px;
	margin-bottom: 14px;
}

.menu {
	position: fixed;
	width: 21%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #1E90FF;
	border-radius: 0px 10px 10px 0px;
	text-align: center;
	padding-left: 37px;
	box-sizing: border-box;
	padding-top: 10px;
	overflow: hidden;
}

.menu.active {
	width: 21px;
}

.menu__item a {
	display: flex;
	gap: 15px;
	color: white;
}


.menu__item img {
	width: 20px;
	height: 20px;
	margin-bottom: 20px;
}

.menu__item a:hover {
	text-decoration: underline;
}

.menu__item h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}


.menu____content__block__first {
	width: 100%;
	text-align: left;
	box-sizing: border-box;
}

.menu____content__block__second {
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.menu____content__block__second__voting {
	display: flex;
	align-items: center;
	gap: 7px;
	height: auto;
	width: 135px;
	cursor: pointer;
	margin-bottom: 30px;
	box-sizing: border-box;
}

.menu____content__block__second__voting h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: white;

}

#menu____content__block__second__voting {
	width: 12px;
	height: 12px;
	transform: rotate(-90deg);
	transition: 0.3s;
}

#menu____content__block__second__voting.active {
	transform: rotate(0deg);
	transition: 0.3s;
}

.menu____content__block__second__open {
	width: 100%;
	position: absolute;
	top: -100%;
	transition: 0.3s;
}

.menu____content__block__second__open.active {
	top: 50px;
	transition: 0.3s;
}

.menu__setting a {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 37px;
	display: flex;
	border-top: solid 2px white;
	width: 100%;
	height: 60px;
	align-items: center;
	gap: 12px;
}

.menu__setting img {
	width: 20px;
	height: 20px;
}

.menu__setting h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: white;
}



.registration__of__tenants__content {
	width: 79%;
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	padding-top: 20px;
}

.registration__of__tenants__content__top {
	width: 100%;
	height: 70px;
	border-bottom: solid 2px #1E90FF;
	padding: 20px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.registration__of__tenants__content__top h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #1E90FF;
}

.registration__of__tenants__content__top img {
	width: 45px;
	height: 45px;
}

.registration__of__tenants__content__top__left {
	display: flex;
	align-items: center;
	gap: 20px;
}


.registration__of__tenants__content__top__right {
	display: flex;
	align-items: center;
	gap: 24px;
}

.registration__of__tenants__content__top__right__notifications {
	position: relative;
	height: 100%;
	cursor: pointer;
}

.registration__of__tenants__content__top__right__notifications__item {
	position: absolute;
	top: 50px;
	right: 0;
	width: 270px;
	height: auto;
	background-color: white;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	z-index: 1;
	padding-left: 7px;
	box-sizing: border-box;
	transform: scale(0);
	transition: 0.3s;
	padding-bottom: 15px;
}

.registration__of__tenants__content__top__right__notifications__item.active {
	transform: scale(1);
	transition: 0.3s;
}

#applications__content__top__right__notifications {
	cursor: pointer;
}

.registration__of__tenants__content__top__right__notifications__item h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 11px;
}

.registration__of__tenants__content__top__right__notifications__item button {
	width: auto;
	height: auto;
	padding: 7px 15px;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: white;
	border: none;
	border-radius: 10px;
	margin-bottom: 8px;
}

.registration__of__tenants__content__top__right__notifications__item button:last-child {
	margin-bottom: 0;
}

.registration__of__tenants__content__top__right__profile__item img {
	width: 16px;
	height: 16px;
}


.notifications__item__button-blue {
	background: #1E90FF;
}

.notifications__item__button-yellow {
	background: rgba(255, 184, 0, 0.63);
}

.notifications__item__button-red {
	background: #FF0000;
}

.registration__of__tenants__content__top__right__profile {
	position: relative;
	height: 100%;
}

#registration__of__tenants__content__top__right__profile {
	cursor: pointer;
}

.registration__of__tenants__content__top__right__profile__item {
	position: absolute;
	top: 60px;
	right: 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	width: auto;
	height: auto;
	padding: 9px 20px;
	border: none;
	cursor: pointer;
	z-index: 1;
	transform: scale(0);
	transition: 0.3s;
	display: flex;
	gap: 7px;
}

.registration__of__tenants__content__top__right__profile__item.active {
	transform: scale(1);
	transition: 0.3s;
}

.registration__of__tenants__form {
	width: 100%;
	padding-left: 24px;
	padding-right: 24px;
	margin-top: 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.registration__of__tenants__form__new__tenant {
	background-image: url('img/rgistration-of-tenants/fon1.jpg');
	width: 521px;
	height: 512px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	text-align: center;
	box-sizing: border-box;
}

.registration__of__tenants__form__new__tenant img {
	margin-top: 18px;
	width: 166px;
	height: 45px;
}

.registration__of__tenants__form__new__tenant h4 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: #1E90FF;
	margin-top: 20px;
	margin-bottom: 30px;
}

.registration__of__tenants__form__new__tenant__input {
	width: 303px;
	height: 44px;
	display: block;
	outline: none;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	padding-left: 13px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: none;
}

.registration__of__tenants__form__new__tenant h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #1E90FF;
	margin-bottom: 15px;
}

.registration__of__tenants__form__new__tenant__radio {
	margin-right: 7px;
	margin-left: 12px;
	cursor: pointer;
	width: 15px;
	height: 15px;
}

.registration__of__tenants__form__new__tenant button {
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	background-color: #1E90FF;
	background: #1E90FF;
	border-radius: 20px;
	border: none;
	color: white;
	font-style: normal;
font-weight: 700;
font-size: 24px;
padding: 5px 40px;
cursor: pointer;
margin-top: 40px;
}

.registration__of__tenants__form__login__generator{
	background-image: url(img/rgistration-of-tenants/fon2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 412px;
height: 511px;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 20px;
text-align: center;
}

.registration__of__tenants__form__login__generator img{
	margin-top: 18px;
	width: 166px;
	height: 45px;
}

.registration__of__tenants__form__login__generator h2{
	font-style: normal;
font-weight: 700;
font-size: 24px;
color: #1E90FF;
margin-top: 14px;
}

.registration__of__tenants__form__login__generator  h4{
	font-style: normal;
font-weight: 700;
font-size: 16px;
margin-top: 18px;
margin-bottom: 30px;
}

.registration__of__tenants__form__login__generator  input{
	width: 303px;
	height: 44px;
	display: block;
	outline: none;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	padding-left: 13px;
	margin: 0 auto;
	margin-bottom: 14px;
	border: none;
}

#registration__of__tenants__form__login__generator__button__generation{
	width: auto;
	height: auto;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	cursor: pointer;
	font-style: normal;
font-weight: 400;
font-size: 20px;
border-bottom: solid 1px black;
}

#registration__of__tenants__form__login__generator__button{
	width: auto;
	height: auto;
	padding: 9px 13px;
	background-color: #1E90FF;
	color: white;
	border: none;
	border-radius: 20px;font-style: normal;
	font-weight: 600;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	margin-top: 150px;
	cursor: pointer;
}