<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация исполнителей</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="./performers.css">
</head>

<body>

	<!-- Начало модальное окно -->
	<div class="modal__performers">
		<div class="modal__performers__form">
			<p>
			<h2>ФИО</h2>
			</p>
			<input type="text">
			<p>
			<h2>Номер телефона</h2>
			</p>
			<input type="text" placeholder="+7(700) _ _ _ _ _ _ ">
			<p>
			<h2>ИИН/ТОО </h2>
			</p>
			<input type="text" placeholder="040505060699">
			<p>
			<h2>Специальность</h2>
			</p>
			<input type="text" placeholder="Специальность">
			<p>
			<h2>Категория работ</h2>
			</p>
			<input type="text" placeholder="Категория работ">
			<button>Добавить</button>
		</div>
	</div>
		<!-- Конец модальное окно -->

	<div class="position">
		<!-- начало меню -->
		<div class="menu">
			<a href="../applications.html"><img src="img/menu/logo.svg" alt="logo" id="logo"></a>
			<div class="munu____content__block__first">
				<ul>
					<li class="menu__item">
						<a href="#">
							<img src="img/menu/repair.svg" alt="repair">
							<h3>Ремонт</h3>
						</a>
					</li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/performers.svg" alt="performers">
							<h3>Исполнители</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/applications.svg" alt="applications">
							<h3>Заявки</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/budget-analytics.svg" alt="budget-analytics">
							<h3>Аналитика бюджета</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/cctv.svg" alt="add-tenants">
							<h3>Видеонаблюдение</h3>
						</a></li>
					<li class="menu__item"><a href="../registration-of-tenants/rgistration-of-tenants.html">
							<img src="img/menu/add-tenants.svg" alt="add-tenants">
							<h3>Добавить жильцов</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/survey.svg" alt="survey">
							<h3>Опрос</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/resident-ideas.svg" alt="resident-ideas">
							<h3>Идеи жильцов</h3>
						</a></li>
					<li class="menu__item"><a href="#">
							<img src="img/menu/poll-results.svg" alt="poll-results">
							<h3>Результаты опросов</h3>
						</a></li>
				</ul>
			</div>
			<div class="menu__setting">
				<a href="#">
					<img src="img/menu/setting.svg" alt="setting">
					<h3>Настройки</h3>
				</a>
			</div>
		</div>
		<!-- конец меню -->

		<div class="performers__content">

			<!-- Начало верхнего меню -->
			<div class="performers__content__top">
				<div class="performers__content__top__left">
					<img src="img/performers/performers.svg" alt="">
					<h2>Регистрация исполнителей</h2>
				</div>
				<div class="performers__content__top__rigt"></div>
				<div class="performers__content__top__right">
					<div class="performers__content__top__right__notifications top__right__notifications">
						<img id="performers__content__top__right__notifications" src="img/performers/notifications.svg"
							alt="notifications">
						<div class="performers__content__top__right__notifications__item">
							<h4>Ваши уведомления</h4>
							<button class="notifications__item__button-blue">Заявка на решение проблемы</button>
							<button class="notifications__item__button-yellow">Идея для реализации</button>
							<button class="notifications__item__button-red">Проблема срочной реалищации</button>
						</div>
					</div>
					<div class="performers__content__top__right__profile">
						<img id="performers__content__top__right__profile" src="img/performers/profile.svg"
							alt="profile">
						<button class="performers__content__top__right__profile__item">Выйти
							<img src="img//performers/exit.svg" alt="exit">
						</button>
					</div>
				</div>
			</div>
				<!-- Конец верхнего меню -->

				<!-- Начало блока с кнопкой добавление исполнителей -->
			<div class="performers__employees">
				<h2>Сотрудники</h2>
				<button id="performers__employees__button">+ Добавить сотрудника</button>
			</div>
			<!-- Конец блока с кнопкой добавление исполнителей -->

			<!-- Начало фильтра -->
			<div class="applications__filter">
				<div class="applications__filter__item">
					<img src="img/filtr/filtr.svg" alt="">
					<h5>Фильтр</h5>
				</div>
				<div class="applications__filter__item">
					<img src="img/filtr/sort.svg" alt="">
					<h5>Сортировка</h5>
				</div>
				<div class="applications__filter__item">
					<img src="img/filtr/actual.svg" alt="">
					<h5>Показывать самые актуальные</h5>
				</div>
			</div>
			<!-- Конец фильтра -->

			<!-- Начало поле с обозначениями полей -->
			<div class="performers__content__form">
				<ul>
					<li>
						<h2>ФИО/ИП</h2>
					</li>
					<li>
						<h2>Номер телефона</h2>
					</li>
					<li>
						<h2>ИИН</h2>
					</li>
					<li>
						<h2>Специальность</h2>
					</li>
					<li>
						<h2>Категория работ</h2>
					</li>
				</ul>
			</div>
			<!-- Конец поле с обозначениями полей -->
		
			<!-- Начало блока с информацией -->
			<div class="performers__content__form__content">

				<div class="performers__content__form__content__item">
					<ul>
						<li>
							<h3>Руслан Монеткович</h3>
						</li>
						<li>
							<h3>8 (777) 564 78 99</h3>
						</li>
						<li>
							<h3>040503559909</h3>
						</li>
						<li>
							<h3>Сантехник</h3>
						</li>
						<li>
							<h3>Ремонт</h3>
						</li>
					</ul>
				</div>
			</div>
		

			<div class="performers__content__form__content">
				<div class="performers__content__form__content__item">
					<ul>
						<li>
							<h3>Руслан Монеткович</h3>
						</li>
						<li>
							<h3>8 (777) 564 78 99</h3>
						</li>
						<li>
							<h3>040503559909</h3>
						</li>
						<li>
							<h3>Сантехник</h3>
						</li>
						<li>
							<h3>Ремонт</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="performers__content__form__content">
				<div class="performers__content__form__content__item">
					<ul>
						<li>
							<h3>Руслан Монеткович</h3>
						</li>
						<li>
							<h3>8 (777) 564 78 99</h3>
						</li>
						<li>
							<h3>040503559909</h3>
						</li>
						<li>
							<h3>Сантехник</h3>
						</li>
						<li>
							<h3>Ремонт</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="performers__content__form__content">
				<div class="performers__content__form__content__item">
					<ul>
						<li>
							<h3>Руслан Монеткович</h3>
						</li>
						<li>
							<h3>8 (777) 564 78 99</h3>
						</li>
						<li>
							<h3>040503559909</h3>
						</li>
						<li>
							<h3>Сантехник</h3>
						</li>
						<li>
							<h3>Ремонт</h3>
						</li>
					</ul>
				</div>
			</div>
				<!-- Конец блока с информацией -->
			<button id="performers__content__form__button">Уволить <img src="img/performers/close.svg" alt=""></button>
		</div>

	</div>

	<script src="./performers.js"></script>

</body>

</html>